apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: __NAME__-scaler
  namespace: __IMAGE__
spec:
  scaleTargetRef:
    kind: Deployment
    name: __NAME__
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  labels:
    run: __NAME__
  name: __NAME__
  namespace: __IMAGE__
spec:
  selector:
    matchLabels:
      run: __NAME__
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        run: __NAME__
    spec:
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      containers:
        - image: gcr.io/__PROJECT__/__IMAGE__:__HASH_TAG__
          imagePullPolicy: __PULL_POLICY__
          env:
            - name: PORT
              value: "3000"
            - name: ENVIRONMENT
              value: __STAGE__
          name: __NAME__
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            timeoutSeconds: 1
            periodSeconds: 10
            failureThreshold: 3
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          volumeMounts:
          - mountPath: /etc/ssl/certs
            name: ca-certificates
      volumes:
        - name: ca-certificates
          hostPath:
            path: /etc/ssl/certs
---
apiVersion: v1
kind: Service
metadata:
  name: __NAME__
  namespace: __IMAGE__
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    run: __NAME__
  type: LoadBalancer
